{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis temporibus repellat aut est ipsum sunt delectus ut! Doloremque, labore magnam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum laboriosam autem nostrum consequatur vitae exercitationem placeat, possimus, culpa enim omnis provident facilis dignissimos aliquam! Aliquam similique cupiditate eveniet dolor autem, facere nemo quis perspiciatis adipisci explicabo deleniti recusandae consectetur temporibus alias eaque velit accusamus deserunt mollitia numquam vero dolores.</p>
</div>
{% endblock content %}