<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .myuser{
            color:red;
            background: yellow;
        }
        .mypass{
            color:red;
            background: yellow;
        }
    </style>
</head>
<body>
    <h1>Login Page</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        <div>
        {{fm.label_tag}} {{fm}} <small> {{fm.errors|striptags}} </small>
        </div><br>
        {% endfor %}
        <input type="submit" value="Login">
        <a href="{% url 'resetpass' %}">Reset Password</a>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p> {{error}} </p>
        {% endfor %} 
        {% endif %}
    </form>
</body>
</html>